.main {
  padding: 2rem;
  background-color: #121212;
  color: white;

  min-height: 100vh;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 100px;
}
