.card {
  background-color: #1a1a1a;
  color: white;
  border-radius: 12px;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 4px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.card:hover {
  outline-color: #0094ff;
  box-shadow: 0 4px 16px #0e3c95;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 218px;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.verified {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #00aaff;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 8px;
}

.verified svg{
  margin-bottom: 0.8px;
}

.name {
  font-size: 1.2rem;
  margin: 8px 0;
}

.playable {
  font-size: 0.9rem;
  opacity: 0.6;
  color: #aaa;
  margin-top: 10px;
}

.genreContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 8px;
}

.genreTag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: white;
  font-size: 0.8rem;
  padding: 5px 9px 6px 9px;
  border-radius: 8px;
  font-weight: 600;
}

