.navbar {
  background-color: #1a1a1a;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
	height: 30px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navLinks li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #00aaff;
}

/* Mobile Menu */
.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }
  
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #222;
    width: 200px;
    padding: 1rem;
    border-radius: 8px;
  }

  .show {
    display: flex;
  }
}
