.container {
  background: #121212;
  color: white;
  min-height: calc(100vh - 190px);

	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper{
  padding: 2rem;
	max-width: 940px;
}

.backButton {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.backButton:hover {
  color: white;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.profileImage {
  width: 80px;
  height: 80px;
  border-radius: 12px;
	object-fit: cover;
}

.name {
  font-size: 1.8rem;
  font-weight: bold;
}

.genre {
  color: #bbb;
  font-size: 1rem;
  font-weight: 700;
}

.bannerCard,
.detailsCard,
.descriptionCard {
  background: #1a1a1a;
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.descriptionCard p {
  font-weight: 300;
  margin-bottom: 21px;
}

.bannerImage {
  width: 100%;
  border-radius: 12px;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.tags {
  user-select: none;
  margin-top: 0.8rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: white;
  padding: 5px 10px 6px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
}

.info {
  margin-top: 1rem;
  font-size: 1rem;
  color: #ccc;
}

.info strong{
  color: white;
}

.verified {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #00aaff;
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: 400;
}

.verified svg{
  margin-bottom: 0.45px;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: #222;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  transition: background 0.3s ease;
}

.socialLink:hover {
  background: #444;
}

.platforms {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  gap: 1rem;
}

.platformIcons {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 8px;
}

.platformIcons svg {
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.platformIcons svg:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .wrapper{
    padding: 1rem;
    max-width: 340px;
  }
  .bannerCard,
  .detailsCard,
  .descriptionCard {
    background: #1a1a1a;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1.5rem;
  }
}